.flex {
  display: flex;

}

.DisplayNone {
  display: none;
}


.Chart-box {
  width: 100%;
  height: 40%;
  background-color: white;
  text-align: center;
  position: absolute;
  margin-top: 100px;

}

.date-container {
  width: 100%;
  height: 70%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 4% 1fr;
  grid-template-rows: 1fr;
  padding: 10px 15px 15px 15px;
  gap: 10px;


}

/* .data-box{
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 4;
} */

.high-box,
.low-box,
.center-box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  grid-row-start: 1;
  grid-row-end: 2;
}

.high-box,
.low-box {
  padding: 10px;
  font-size: 45px;

}

.high-box .sell,
.low-box .sell {
  margin-top: 10px;
  z-index: 100;
  position: relative;
  margin: auto;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;

}


.high-box .sellnuber,
.low-box .sellnuber {
  z-index: 100;
  position: relative;
  margin: auto;
  font-size: 100%;
  font-weight: 600;
  color: #ffffff;
  margin: 2% 0;
}

.low-box {}

.center-box {
  /* background-color: rgb(231, 255, 236); */
  border-radius: 7px;

}

g {
  font-size: 97%;
}


.high-box .line,
.low-box .line1 {

  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: 15px;


}

.high-box .line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 70px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, rgb(231, 213, 255), rgb(202, 192, 255), rgb(127, 73, 255));
  animation: animete 4s linear infinite;
  border-radius: 15px;

}

@keyframes animete {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);

  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.low-box .line1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 70px;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, rgb(255, 217, 214), rgb(255, 175, 125), rgb(254, 90, 68));
  animation: animete 4s linear infinite;
  border-radius: 15px;

}

@keyframes animete {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);

  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.line::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: rgb(146, 127, 254);
  border-radius: 15px;
  z-index: 1;
}

.line1::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: rgb(253, 141, 141);
  border-radius: 15px;
  z-index: 1;
}


.text-box {

  width: 100%;
  height: 100%;
  background-color: rgb(255, 4, 4);
  border-radius: 15px;



}


.price {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  z-index: 2;
}



.sell-css {
  display: none;
}


.flex .btn {
  margin: 10px 5px;
}







@media screen and (max-width:805px) {

  .Chart-box {
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    margin-top: 100px;
  }

}