.customerdata {
  transform: translateY(40px);
  display: grid;
  gap: 30px;
}

#standard-basic {
  display: block;
  width: 100%;
}

#standard-multiline-flexible {
  padding-right: 200px;
  margin: 0 0 0 10px;
}
