@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.navigation {
  position: relative;
  width: 100%;
  height: 600px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  bottom: 0;
}

.navigation ul {
  display: flex;
  width: 100%;
  text-align: center;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 33.33%;
  height: 60px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5rem;
  transition: 0.5s;
  color: #222327;
  z-index: 5;
}

.navigation ul li.active a .icon {
  transform: translateY(-42px);
  color: #2196f3;
}

.navigation ul li a .text {
  position: absolute;
  background: #2196f3;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
  z-index: 100;
}

.navigation ul li.active a .text {
  transform: translateY(-4px);
  opacity: 1;
  z-index: 3;
}

.navigation ul li.active a .back-item {
  transform: translateY(-4px);
  opacity: 1;
  z-index: 3;
}

.back {
  display: none;
  position: absolute;
  background: #fff;
  width: 72px;
  border-radius: 50%;
  top: -50%;
  width: 70px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 1;
  margin: auto;
}

/* .indicator {
  position: absolute;
  width: 70px;
  top: -50%;
  height: 70px;
  background: #f00;
  border-radius:50%;
  z-index: 1;
  transform: 0.5s;
}  */

/* .indicator::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -28px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}

.indicator::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: -28px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff; 
} */

.navigation ul li:nth-child(1).active+.back {
  display: block;
}

.navigation ul li:nth-child(2).active~.indicator {}

.navigation ul li:nth-child(3).active~.indicator {
  transform: translateX(calc(33.33% * 2));
}


.icon {
  width: 70px;
  height: 43px;
  background-color: white;
  border-radius: 50%;
  z-index: 4;
  position: absolute;
  border-radius: 75px 75px 0 0;
  /* 下側を丸める */
  border-bottom: 0;
  /* 直線部分を消す */
}