.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 2;
  height: 30%;
  width: 70%;
  padding: 1em;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.content p {
  padding: 3px;
  color: #000;
  z-index: 3;
  font-weight: 700;
  padding: 10px;
}


.content-HF21 {
  /* overflow: hidden; */
  position: absolute;
  z-index: 100;
  height: 35%;
  width: 60%;
  padding: 0.6em;
  background-color: rgb(146, 125, 250);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  transition: 6s;



}

.content-HF211 {
  position: absolute;
  z-index: 100;
  height: 35%;
  width: 60%;
  padding: 0.6em;
  background-color: rgb(211, 203, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  border: #fff 1px solid;
  transition: 6s;

}

.content-HF21 .sell-nuber-modal,
.content-HF211 .sell-nuber-modal,
.content-HF21-anime .sell-nuber-modal {
  font-size: 65px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.content-HF21-anime {
  position: absolute;
  z-index: 2;
  height: 35%;
  width: 75%;
  padding: 0.6em;
  border-radius: 15px;
  align-items: center;
  justify-content: center;

  transition: 3s;
  /*    
  transform: translateX(100%); */
}