.css-1g467ij-MuiToolbar-root .css-1j8nhme-MuiPaper-root-MuiAppBar-root {
  box-shadow: none;
}

.DisplayNone {
  display: none;
}
div .MuiBox-root,
div .css-1hdnp4o {
  /* width: 90%; */
}

div .css-1hdnp4o .css-sfn5k3-MuiButtonBase-root-MuiButton-root {
  margin-top: 6px;
}
